@use '../../design.tokens.scss' as *;

.portfolio-content {
  max-width: $layout-max-width-content;
  min-height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @media (max-width: $breakpoint-md) {
    padding: 0;
    gap: $spacing-xxxl;
  }

  .section-divider {
    height: $border-width-sm;
    background: linear-gradient(90deg, $color-border-light-half 0%, transparent 100%);
  }
}
